@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Needed for a fluid height: */
html,
body,
.container,
.main {
    height: 100%;
}

/* main wrapper */
.cbp-contentslider {
    width: 100%;
    height: 95%;
    margin: 1em auto;
    position: relative;
    border: 4px solid #47a3da;
}

.cbp-contentslider > ul {
    list-style: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}

.cbp-contentslider > ul li {
    position: absolute;
    width: 100%;
    height: 79%;
    left: 0;
    top: 0;
    padding: 1em;
    background: #fff;
}

.cbp-contentslider > ul li:target {
    z-index: 100;
}

.cbp-contentslider nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.313em;
    z-index: 1000;
    border-top: 4px solid #47a3da;
    overflow: hidden;
}

.cbp-contentslider nav a {
    float: left;
    display: block;
    width: 20%;
    height: 100%;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #f0c05b;
    background: #fff;
    outline: none;
    text-align: center;
    line-height: 3;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    overflow: hidden;
}

.cbp-contentslider nav a span {
    display: block;
}

.cbp-contentslider nav a:last-child {
    border: none;
    box-shadow: 1px 0 #47a3da; /* fills gap caused by rounding */
}

@media (min-width:480px) {
    .cbp-contentslider nav a:hover {
        background-color: #47a3da;
        color: #fff;
    }
}

.cbp-contentslider nav a.rc-active {
    background-color: #f7bf44;
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Iconfont for navigation and headings */
.cbp-contentslider [class^="icon-"]:before,
.cbp-contentslider [class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    text-align: center;
    speak: none;
    font-weight: normal;
    line-height: 2.5;
    font-size: 2em;
    position: absolute;
    left: 10%;
    top: 50%;
    margin: -1.250em 0 0 0;
    height: 2.500em;
    width: 2.500em;
    color: rgba(0,0,0,0.1);
    -webkit-font-smoothing: antialiased;
}

.cbp-contentslider .icon-wolf:before {
    content: "\56";
}

.cbp-contentslider .icon-rabbit:before {
    content: "\52";
}

.cbp-contentslider .icon-turtle:before {
    content: "\54";
}

.cbp-contentslider .icon-platypus:before {
    content: "\42";
}

.cbp-contentslider .icon-aligator:before {
    content: "\41";
}

.cbp-contentslider [class^="icon-"].rc-active:before,
.cbp-contentslider [class*=" icon-"].rc-active:before,
.cbp-contentslider nav a:hover:before {
    color: rgba(255, 255, 255, 0.9);
}

.cbp-contentslider h3 {
    font-size: 4em;
    height: 2em;
    line-height: 1.7;
    font-weight: 300;
    margin: 0 0 0.3em;
    position: relative;
    color: #f7bf44;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.3em;
    padding: 0 0.2em 0 0;
    border-bottom: 4px solid #47a3da;
    background-repeat: no-repeat;
    background-size: contain;
}

.cbp-contentslider h3[class^="icon-"]:before,
.cbp-contentslider h3[class*=" icon-"]:before {
    top: 0;
    left: 0;
    width: 2em;
    line-height: 1;
    height: 1.2em;
    margin: 0;
    color: #47a3da;
}

.cbp-contentslider li > div {
    position: absolute;
    top: 9em;
    bottom: 3.313em;
    width: 100%;
    left: 0;
    padding: 0 1em;
    overflow-x: hidden;
    overflow-y: auto;
    height: 642px;
}

.cbp-contentslider .cbp-content {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    -o-column-gap: 1em;
    column-gap: 1em;
    vertical-align: top;
    padding: 1em 0;
}

.cbp-contentslider p {
    color: #47a3da;
    padding: 0 0.5em 0.4em;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
}

/* Media queries */
@media screen and (max-width: 70em) {
    .cbp-contentslider p {
        font-size: 100%;
    }
}

@media screen and (max-width: 67.75em) {
    .cbp-contentslider {
        font-size: 75%;
    }

    .cbp-contentslider nav a[class^="icon-"]:before,
    .cbp-contentslider nav a[class*=" icon-"]:before {
        left: 50%;
        margin-left: -1.250em;
    }

    .cbp-contentslider nav a span {
        display: cover;
    }
}

@media screen and (max-width: 43em) {
    .cbp-contentslider h3 {
        font-size: 2em;
    }

    .cbp-contentslider .cbp-content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
    }

    .cbp-contentslider li > div {
        top: 5em;
    }
}

@media screen and (max-width: 30em) {
    .cbp-contentslider h3 {
        font-size: 29px;
    }

    .cbp-contentslider .cbp-content {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
    }

    .cbp-contentslider li > div {
        top: 5em;
    }
}

@media screen and (max-width: 15em) {
    /* .cbp-contentslider nav a {
    padding: 0;
} */
    .cbp-contentslider h3[class^="icon-"]:before,
    .cbp-contentslider h3[class*=" icon-"]:before {
        display: none;
    }
}

.paycheck {
    height: 100%;
    width: 100%;
}

@media (min-width:480px) {
    .sssf {
        width: 200%;
        margin-bottom: -54px;
        top: 7px;
        margin-top: -7px;
        padding-top: 80px;
    }
}

input {
    /* width: 262px */
    height: 37px;
}

vvv {
}

.form-check-input {
}

add payment {
    margin-left: 1px;
    padding-left: 12px;
    left: -7px;
    right: 8px;
    width: -15px;
}

personal {
}

personnal {
    background-image: url('file:///Users/yuribondarenko/Desktop/icons/personal__630990.png');
    background-repeat: no-repeat;
}

.personal {
    background-image: url('personal__630990.png');
    background-repeat: no-repeat;
    background-size: contain;
}

header bankin {
    background-color: #ab3f3f;
}

ss {
    background-position: left center;
    background-size: cover;
}

.banking {
    background-image: url('../banking.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.bankingheader {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

@media (min-width:320px) {
    .header1 {
        background-image: url('personal__630990.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
    }
}

@media (min-width:320px) {
    .header3 {
        background-image: url('../banking.png');
    }
}

@media (min-width:320px) {
    .block3icon {
        background-image: url('paycheck-549308.png');
    }
}

.payicon {
    background-image: url('../paycheck-549308.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.333 {
}

.333 {
}

@media (max-width:319px) {
    .pricemobile {
        width: 225px;
        height: 162px;
        margin-left: -13px;
    }
}

@media only screen and (max-width:479px) {
    .smallmobile {
    }
}

@media (max-width:319px) {
    .smallmobile {
        width: 229px;
    }
}

@media only screen and (min-width:320px) and (max-width:479px) {
    .smallmobile {
    }
}

@media only screen and (min-width:320px) and (max-width:479px) {
    .smallmobile {
        width: 339px;
        height: 493px;
    }
}

undefined: undefined;

@media only screen and (max-width:479px) {
    .icmob {
        background-position: center center;
        color: rgba(0, 0, 0, 0);
    }
}

@media only screen and (max-width:1599px) {
    .nohead {
        background-color: #ff0000;
    }
}

@media only screen and (min-width:480px) {
}

@media only screen and (min-width:320px) and (max-width:479px) {
    .7 {
    }

    .iphone {
    }

    .price {
        width: 277px;
        margin-left: -11px;
    }
}

@media only screen and (min-width:480px) {
    .icmob {
    }

    .icmob {
    }
}